#page {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	display: grid;
	grid-template-columns: 250px 250px;
	grid-template-rows: 520px 80px 80px 40px;
	grid-template-areas: 
	"canvas canvas"
	"gridCoordinates gridCoordinates"
	"gridFirst gridSecond"
	"gridCommon gridCommon"

}



canvas {
	border: 10px solid black;
	margin: 0;
	grid-area: canvas;
}

#chooseType {
	position: absolute;
	right: 100px;
	top: 530px;
}

#gridCoordinates {
	grid-area: gridCoordinates;
	margin-top: 25px;
}

#gridCommon {
	grid-area: gridCommon;
}

#gridFirst {
	grid-area: gridFirst;
}

#gridSecond {
	grid-area: gridSecond;
}

#common {
	display: none;
}

.pointData {
	width: 50%;
	margin: 5px 0 50px 40%;
	text-align: left;
	
}

.generalData {
	margin: 5px 0 5px 240px;
	text-align: left;
}

#gridCommon .generalData {
	margin-left: 170px;
}

.deg {
	position: relative;
	left: 17px;
}

#vector .deg {
	left: 193px;
}
